﻿.jqstooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    background: rgb(0, 0, 0) transparent;
    background-color: rgba(0,0,0,0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    color: white;
    font: 10px arial, san serif;
    text-align: left;
    white-space: nowrap;
    padding: 5px;
    border: 1px solid white;
    box-sizing: content-box;
    z-index: 10000;
}

.jqsfield {
    color: white;
    font: 10px arial, san serif;
    text-align: left;
}

 .wrapper > section, body {
    background-color: #f5f7fa
}

.topnavbar, .wrapper > .aside {
    background-color: #fff
}

    .topnavbar .navbar-header {
        background-color: transparent;
        background-image: linear-gradient(90deg,#23b7e5 0,#51c6ea);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF23B7E5",endColorstr="#FF51C6EA",GradientType=1)
    }

@media only screen and (min-width:768px) {
    .topnavbar .navbar-header {
        background-image: none
    }
}

.topnavbar .navbar-nav > .open > a, .topnavbar .navbar-nav > li > .navbar-text, .topnavbar .navbar-nav > li > a {
    color: #23b7e5
}

    .topnavbar .navbar-nav > .open > a:focus, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > li > a:focus, .topnavbar .navbar-nav > li > a:hover {
        color: #117391
    }

    .topnavbar .navbar-nav > .active > a, .topnavbar .navbar-nav > .active > a:focus, .topnavbar .navbar-nav > .active > a:hover, .topnavbar .navbar-nav > .open > a, .topnavbar .navbar-nav > .open > a:focus, .topnavbar .navbar-nav > .open > a:hover {
        background-color: transparent
    }

.topnavbar .navbar-nav > li > [data-toggle=navbar-search] {
    color: #fff
}

.topnavbar .nav-wrapper {
    background-color: #23b7e5;
    background-image: linear-gradient(90deg,#23b7e5 0,#51c6ea);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF23B7E5",endColorstr="#FF51C6EA",GradientType=1)
}

@media only screen and (min-width:768px) {
    .topnavbar {
        background-color: #23b7e5;
        background-image: linear-gradient(90deg,#23b7e5 0,#51c6ea);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF23B7E5",endColorstr="#FF51C6EA",GradientType=1)
    }

        .topnavbar .navbar-nav > .open > a, .topnavbar .navbar-nav > .open > a:focus, .topnavbar .navbar-nav > .open > a:hover {
            box-shadow: inset 0 -3px 0 hsla(0,0%,100%,.5)
        }

        .topnavbar .navbar-nav > .open > a, .topnavbar .navbar-nav > li > .navbar-text, .topnavbar .navbar-nav > li > a {
            color: #fff
        }

            .topnavbar .navbar-nav > .open > a:focus, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > li > a:focus, .topnavbar .navbar-nav > li > a:hover {
                color: #117391
            }
}

.sidebar {
    background-color: #fff
}

    .sidebar .nav-heading {
        color: #919da8
    }

    .sidebar .nav > li > .nav-item, .sidebar .nav > li > a {
        color: #515253
    }

        .sidebar .nav > li > .nav-item:focus, .sidebar .nav > li > .nav-item:hover, .sidebar .nav > li > a:focus, .sidebar .nav > li > a:hover {
            color: #23b7e5
        }

        .sidebar .nav > li > .nav-item > em, .sidebar .nav > li > a > em {
            color: inherits
        }

    .sidebar .nav > li.active, .sidebar .nav > li.active .nav, .sidebar .nav > li.active > a, .sidebar .nav > li.open, .sidebar .nav > li.open .nav, .sidebar .nav > li.open > a {
        background-color: #fcfcfc;
        color: #23b7e5
    }

        .sidebar .nav > li.active > a > em, .sidebar .nav > li.open > a > em {
            color: #23b7e5
        }

    .sidebar .nav > li.active {
        border-left-color: #23b7e5
    }

.sidebar-subnav {
    background-color: #fff
}

    .sidebar-subnav > .sidebar-subnav-header, .sidebar-subnav > li > .nav-item, .sidebar-subnav > li > a {
        color: #515253
    }

        .sidebar-subnav > li.active > .nav-item, .sidebar-subnav > li.active > a, .sidebar-subnav > li > .nav-item:focus, .sidebar-subnav > li > .nav-item:hover, .sidebar-subnav > li > a:focus, .sidebar-subnav > li > a:hover {
            color: #23b7e5
        }

            .sidebar-subnav > li.active > .nav-item:after, .sidebar-subnav > li.active > a:after {
                border-color: #23b7e5;
                background-color: #23b7e5
            }

.offsidebar {
    border-left: 1px solid greyscale(#ccc);
    background-color: #fff;
    color: #515253
}


