﻿
<nav class="navbar topnavbar" role="navigation">

    <div class="navbar-header">
        <a class="navbar-brand" href="#/">
            <div class="brand-logo">
                <img alt="App Logo" class="img-responsive" src="http://themicon.co/theme/angle/v3.7.5/angular2/assets/img/logo.png">
            </div>
            <div class="brand-logo-collapsed">
                <img alt="App Logo" class="img-responsive" src="http://themicon.co/theme/angle/v3.7.5/angular2/assets/img/logo-single.png">
            </div>
        </a>
    </div>


    <div class="nav-wrapper">

        <ul class="nav navbar-nav">
            <li>

                <!----><a class="hidden-xs" trigger-resize="">
                    <em class="fa fa-navicon"></em>
                </a>

                <a class="visible-xs sidebar-toggle">
                    <em class="fa fa-navicon"></em>
                </a>
            </li>

            <li>

                <a>
                    <em class="icon-user"></em>
                </a>
            </li>


            <li>
                <a title="Lock screen" href="/theme/angle/v3.7.5/angular2/lock">
                    <em class="icon-lock"></em>
                </a>
            </li>

        </ul>


        <ul class="nav navbar-nav navbar-right">

            <li>
                <a>
                    <em class="icon-magnifier"></em>
                </a>
            </li>

            <li class="visible-lg">
                <a>
                    <em class="fa fa-expand"></em>
                </a>
            </li>

            <li class="dropdown dropdown-list" dropdown="">
                <a dropdowntoggle="" aria-haspopup="true">
                    <em class="icon-bell"></em>
                    <div class="label label-danger">11</div>
                </a>

                <!----><ul class="dropdown-menu animated flipInX">
                    <li>

                        <div class="list-group">

                            <a class="list-group-item">
                                <div class="media-box">
                                    <div class="pull-left">
                                        <em class="fa fa-twitter fa-2x text-info"></em>
                                    </div>
                                    <div class="media-box-body clearfix">
                                        <p class="m0">New followers</p>
                                        <p class="m0 text-muted">
                                            <small>1 new follower</small>
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <a class="list-group-item">
                                <div class="media-box">
                                    <div class="pull-left">
                                        <em class="fa fa-envelope fa-2x text-warning"></em>
                                    </div>
                                    <div class="media-box-body clearfix">
                                        <p class="m0">New e-mails</p>
                                        <p class="m0 text-muted">
                                            <small>You have 10 new emails</small>
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <a class="list-group-item">
                                <div class="media-box">
                                    <div class="pull-left">
                                        <em class="fa fa-tasks fa-2x text-success"></em>
                                    </div>
                                    <div class="media-box-body clearfix">
                                        <p class="m0">Pending Tasks</p>
                                        <p class="m0 text-muted">
                                            <small>11 pending task</small>
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <a class="list-group-item">
                                <small>topbar.notification.MORE</small>
                                <span class="label label-danger pull-right">14</span>
                            </a>
                        </div>

                    </li>
                </ul>

            </li>


            <li>
                <a>
                    <em class="icon-notebook"></em>
                </a>
            </li>

        </ul>

    </div>

</nav>

