﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetCoreAng</title>
    <base href="/">

    <environment names="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" />
        <link href="~/css/styles.css" rel="stylesheet" />
        <link href="~/css/angtheme.css" rel="stylesheet" />

        <link href="~/css/Bundle.css" rel="stylesheet" />
        <script async="" src="http://www.google-analytics.com/analytics.js"></script>
       
        
        <script async="" src="http://www.google-analytics.com/analytics.js"></script>
      
    </environment>
    <environment names="Staging,Production">
        
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" /> 
    </environment>
     @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    
    @RenderBody()
    
    <environment names="Development">
        
        
        <script src="~/lib/jquery/dist/jquery.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>

        <!-- Polyfill(s) for older browsers -->

        <script src="/node_modules/core-js/client/shim.min.js"></script>

        <script src="/node_modules/zone.js/dist/zone.js"></script>

        <script src="/node_modules/systemjs/dist/system.src.js"></script>

        <script src="~/systemjs.config.js"></script>

        <script>

            System.import('app').catch(function (err) { console.error(err); });

        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">

        </script>

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">

        </script>
       
 
        <script src="~/js/site.min.js" asp-append-version="true"></script>

        <!-- Polyfill(s) for older browsers -->

        <script src="/node_modules/core-js/client/shim.min.js"></script>

        <script src="/node_modules/zone.js/dist/zone.min.js"></script>

        <script src="/node_modules/systemjs/dist/system.src.js"></script>

        <script src="~/systemjs.config.js"></script>

        <script>

            System.import('app').catch(function (err) { console.error(err); });

        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
