﻿@using AspNetCoreAng.Models
@model AppModel

<form  #appForm="ngForm" (ngSubmit)="AddApp()" >
    
    <h3>{{New}} App</h3>
    <p><b>General Information</b></p>
    <div class="panel panel-default col-auto">
        
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="form-group">
                            <input id="appname" class="form-control" required [(ngModel)]="model.AppName" placeholder="Application Name" type="text" name="AppName" #AppName="ngModel">
                            <div [hidden]="AppName.valid || AppName.pristine"
                                 class="alert alert-danger">
                                Application Name is required
                            </div>
                        </div>
                    <div class="form-group">
                        
                        <textarea id="Description" class="form-control"  [(ngModel)]="model.Description" placeholder="Description" rows="6" name="S1" #Description="ngModel" required></textarea>
                        <div [hidden]="Description.valid || Description.pristine"
                             class="alert alert-danger">
                            Application Name is required
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <input id="Url" class="form-control" [(ngModel)]="model.Url"  placeholder="URL" type="text" name="T2" #Url="ngModel" required>
                        <div [hidden]="Url.valid || Url.pristine"
                             class="alert alert-danger">
                            Url is required
                        </div>
                    </div>
                    <p><b>Authentication:</b><font color="#ff0000">*Required</font></p>
                    <div class="radio c-radio">
                        <label>
                            <input name="R1"  formcontrolname="radio" type="radio" value="V1" class="ng-dirty ng-valid ng-touched">
                            <span class="fa fa-circle"></span>No Authentication
                        </label>
                        <label>
                            <input name="R1"  formcontrolname="radio" type="radio" value="V2" class="ng-dirty ng-valid ng-touched">
                            <span class="fa fa-circle"></span>Basic Authentication
                        </label>
                    </div>
                    <div >
                        <p>Authentication Field Captions:<font color="#ff0000">*Required</font><br></p>
                        <div class="form-group">
                            <label class="control-label">UserName</label>
                            <div>
                                <input id="UserName" class="form-control" placeholder="" required [(ngModel)]="model.UserName" type="text" name="T3" size="20" value="1" #UserName="ngModel">
                                <div [hidden]="UserName.valid || UserName.pristine"
                                     class="alert alert-danger">
                                    UserName is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <div >
                                <input id="Password" class="form-control" placeholder="" required [(ngModel)]="model.Password"  type="password" name="T4" size="20" value="password" #Password="ngModel">
                                <div [hidden]="Password.valid || Password.pristine"
                                     class="alert alert-danger">
                                    Password is required
                                </div>
                            </div>
                        </div>
                    </div>
                   <button type="submit" name="B1" class="btn btn-sm btn-default" value="Save" [disabled]="!appForm.form.valid">Save</button>
                </div>
            </div>

        </div>
    </div>
</form>

