﻿@using AspNetCoreAng.Models
@model AppModel
<form >
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">My Apps</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Application Name</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let appmodel of appmodels let i=index" (click)="onSelect(i)">
                                <td>{{i+1}}</td>
                                <td><input type="checkbox" id="{{appmodel.AppId}}" /></td>
                                <td>{{appmodel.AppName}}</td>
                                <td><a>Triggers</a></td>
                                <td><a>Actions</a></td>
                                <td><a>Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <button class="btn btn-primary" type="button">New App</button>
                    <button class="btn btn-default" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>