﻿
    <div class="aside-inner">
        <nav class="sidebar" sidebar-anyclick-close="">


            <ul class="nav">


                <li class="has-user-block">

                </li>


                <!---->
                <li class="nav-heading">

                    <!----><span>Main Navigation</span>

                    <!---->
                    <!---->
                    <!---->
                    <!---->
                </li>
                <li>

                    <!---->
                    <!---->
                    <!----><a (click)="setTitle('Home')" routerLink="/home" >
                        <!---->
                        <!----><em class="icon-home"></em>
                        <span>Home</span>
                    </a>

                    <!---->
                    <!---->
                </li>
                <li>

                    <!---->
                    <!---->
                    <!---->
                    <!----><a title="Dashboard" routerLinkActive="active">
                        <!---->
                        <!----><em class="icon-speedometer"></em>
                        <span>Dashboard</span>
                    </a>

                    <!----><ul class="nav sidebar-subnav" style="height:auto;">
                        <li class="sidebar-subnav-header" >Dashboard</li>
                        <!---->
                        <li>

                            <!---->
                            <!----><a routerLink="/appdetails" title="appdetails" href="/appdetails">
                                <!---->
                                <!---->
                                <span>appdetails</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a routerLink="/applications" title="applications" href="/applications">
                                <!---->
                                <!---->
                                <span>applications</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/dashboard/v3" title="Dashbord v3" href="/theme/angle/v3.7.5/angular2/dashboard/v3">
                                <!---->
                                <!---->
                                <span>Dashbord v3</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                <li>

                    <!---->
                    <!---->
                    <!----><a route="/widgets" title="Widgets" href="/theme/angle/v3.7.5/angular2/widgets">
                        <!---->
                        <!----><em class="icon-grid"></em>
                        <span>Widgets</span>
                    </a>

                    <!---->
                    <!---->
                </li>
                <li class="nav-heading">

                    <!----><span>Components</span>

                    <!---->
                    <!---->
                    <!---->
                    <!---->
                </li>
                <li>

                    <!---->
                    <!---->
                    <!---->
                    <!----><a title="Elements">
                        <!---->
                        <!----><em class="icon-chemistry"></em>
                        <span>Elements</span>
                    </a>

                    <!----><ul class="nav sidebar-subnav">
                        <li class="sidebar-subnav-header">Elements</li>
                        <!---->
                        <li>

                            <!---->
                            <!----><a route="/elements/buttons" title="Buttons" href="/theme/angle/v3.7.5/angular2/elements/buttons">
                                <!---->
                                <!---->
                                <span>Buttons</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/interaction" title="Interaction" href="/theme/angle/v3.7.5/angular2/elements/interaction">
                                <!---->
                                <!---->
                                <span>Interaction</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/notification" title="Notification" href="/theme/angle/v3.7.5/angular2/elements/notification">
                                <!---->
                                <!---->
                                <span>Notification</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/sweetalert" title="SweetAlert" href="/theme/angle/v3.7.5/angular2/elements/sweetalert">
                                <!---->
                                <!---->
                                <span>SweetAlert</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/spinners" title="Spinners" href="/theme/angle/v3.7.5/angular2/elements/spinners">
                                <!---->
                                <!---->
                                <span>Spinners</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/dropdown" title="Dropdown" href="/theme/angle/v3.7.5/angular2/elements/dropdown">
                                <!---->
                                <!---->
                                <span>Dropdown</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/navtree" title="Nav Tree" href="/theme/angle/v3.7.5/angular2/elements/navtree">
                                <!---->
                                <!---->
                                <span>Nav Tree</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/sortable" title="Sortable" href="/theme/angle/v3.7.5/angular2/elements/sortable">
                                <!---->
                                <!---->
                                <span>Sortable</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/grid" title="Grid" href="/theme/angle/v3.7.5/angular2/elements/grid">
                                <!---->
                                <!---->
                                <span>Grid</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/gridmasonry" title="Grid Masonry" href="/theme/angle/v3.7.5/angular2/elements/gridmasonry">
                                <!---->
                                <!---->
                                <span>Grid Masonry</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/typography" title="Typography" href="/theme/angle/v3.7.5/angular2/elements/typography">
                                <!---->
                                <!---->
                                <span>Typography</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/iconsfont" title="Font Icons" href="/theme/angle/v3.7.5/angular2/elements/iconsfont">
                                <!---->
                                <!---->
                                <span>Font Icons</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/iconsweather" title="Weahter Icons" href="/theme/angle/v3.7.5/angular2/elements/iconsweather">
                                <!---->
                                <!---->
                                <span>Weahter Icons</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/colors" title="Colors" href="/theme/angle/v3.7.5/angular2/elements/colors">
                                <!---->
                                <!---->
                                <span>Colors</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/elements/infinitescroll" title="Infinite Scroll" href="/theme/angle/v3.7.5/angular2/elements/infinitescroll">
                                <!---->
                                <!---->
                                <span>Infinite Scroll</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                <li>

                    <!---->
                    <!---->
                    <!---->
                    <!----><a title="Forms">
                        <!---->
                        <!----><em class="icon-note"></em>
                        <span>Forms</span>
                    </a>

                    <!----><ul class="nav sidebar-subnav opening">
                        <li class="sidebar-subnav-header">Forms</li>
                        <!---->
                        <li class="active">

                            <!---->
                            <!----><a route="/forms/standard" title="Standard" href="/theme/angle/v3.7.5/angular2/forms/standard">
                                <!---->
                                <!---->
                                <span>Standard</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/forms/extended" title="Extended" href="/theme/angle/v3.7.5/angular2/forms/extended">
                                <!---->
                                <!---->
                                <span>Extended</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/forms/validation" title="Validation" href="/theme/angle/v3.7.5/angular2/forms/validation">
                                <!---->
                                <!---->
                                <span>Validation</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/forms/upload" title="Upload" href="/theme/angle/v3.7.5/angular2/forms/upload">
                                <!---->
                                <!---->
                                <span>Upload</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/forms/cropper" title="Image Crop" href="/theme/angle/v3.7.5/angular2/forms/cropper">
                                <!---->
                                <!---->
                                <span>Image Crop</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                <li>

                    <!---->
                    <!---->
                    <!---->
                    <!----><a title="Charts">
                        <!---->
                        <!----><em class="icon-graph"></em>
                        <span>Charts</span>
                    </a>

                    <!----><ul class="nav sidebar-subnav">
                        <li class="sidebar-subnav-header">Charts</li>
                        <!---->
                        <li>

                            <!---->
                            <!----><a route="/charts/flot" title="Flot" href="/theme/angle/v3.7.5/angular2/charts/flot">
                                <!---->
                                <!---->
                                <span>Flot</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/charts/radial" title="Radial" href="/theme/angle/v3.7.5/angular2/charts/radial">
                                <!---->
                                <!---->
                                <span>Radial</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/charts/chartjs" title="ChartJS" href="/theme/angle/v3.7.5/angular2/charts/chartjs">
                                <!---->
                                <!---->
                                <span>ChartJS</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                <li>

                    <!---->
                    <!---->
                    <!---->
                    <!----><a title="Tables">
                        <!---->
                        <!----><em class="icon-grid"></em>
                        <span>Tables</span>
                    </a>

                    <!----><ul class="nav sidebar-subnav">
                        <li class="sidebar-subnav-header">Tables</li>
                        <!---->
                        <li>

                            <!---->
                            <!----><a route="/tables/standard" title="Standard" href="/theme/angle/v3.7.5/angular2/tables/standard">
                                <!---->
                                <!---->
                                <span>Standard</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/tables/extended" title="Extended" href="/theme/angle/v3.7.5/angular2/tables/extended">
                                <!---->
                                <!---->
                                <span>Extended</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/tables/datatable" title="Data-Tables" href="/theme/angle/v3.7.5/angular2/tables/datatable">
                                <!---->
                                <!---->
                                <span>Data-Tables</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/tables/aggrid" title="Angular Grid" href="/theme/angle/v3.7.5/angular2/tables/aggrid">
                                <!---->
                                <!---->
                                <span>Angular Grid</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                <li>

                    <!---->
                    <!---->
                    <!---->
                    <!----><a title="Maps">
                        <!---->
                        <!----><em class="icon-map"></em>
                        <span>Maps</span>
                    </a>

                    <!----><ul class="nav sidebar-subnav">
                        <li class="sidebar-subnav-header">Maps</li>
                        <!---->
                        <li>

                            <!---->
                            <!----><a route="/maps/google" title="Google" href="/theme/angle/v3.7.5/angular2/maps/google">
                                <!---->
                                <!---->
                                <span>Google</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/maps/vector" title="Vector" href="/theme/angle/v3.7.5/angular2/maps/vector">
                                <!---->
                                <!---->
                                <span>Vector</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                <li class="nav-heading">

                    <!----><span>More</span>

                    <!---->
                    <!---->
                    <!---->
                    <!---->
                </li>
                <li>

                    <!---->
                    <!---->
                    <!---->
                    <!----><a title="Pages">
                        <!---->
                        <!----><em class="icon-doc"></em>
                        <span>Pages</span>
                    </a>

                    <!----><ul class="nav sidebar-subnav">
                        <li class="sidebar-subnav-header">Pages</li>
                        <!---->
                        <li>

                            <!---->
                            <!----><a route="/login" title="Login" href="/theme/angle/v3.7.5/angular2/login">
                                <!---->
                                <!---->
                                <span>Login</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/register" title="Register" href="/theme/angle/v3.7.5/angular2/register">
                                <!---->
                                <!---->
                                <span>Register</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/recover" title="Recover" href="/theme/angle/v3.7.5/angular2/recover">
                                <!---->
                                <!---->
                                <span>Recover</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/lock" title="Lock" href="/theme/angle/v3.7.5/angular2/lock">
                                <!---->
                                <!---->
                                <span>Lock</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/404" title="404" href="/theme/angle/v3.7.5/angular2/404">
                                <!---->
                                <!---->
                                <span>404</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/500" title="500" href="/theme/angle/v3.7.5/angular2/500">
                                <!---->
                                <!---->
                                <span>500</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/maintenance" title="Maintenance" href="/theme/angle/v3.7.5/angular2/maintenance">
                                <!---->
                                <!---->
                                <span>Maintenance</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                <li>

                    <!---->
                    <!---->
                    <!---->
                    <!----><a title="Blog">
                        <!---->
                        <!----><em class="icon-notebook"></em>
                        <span>Blog</span>
                    </a>

                    <!----><ul class="nav sidebar-subnav">
                        <li class="sidebar-subnav-header">Blog</li>
                        <!---->
                        <li>

                            <!---->
                            <!----><a route="/blog/list" title="List" href="/theme/angle/v3.7.5/angular2/blog/list">
                                <!---->
                                <!---->
                                <span>List</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/blog/post" title="Post" href="/theme/angle/v3.7.5/angular2/blog/post">
                                <!---->
                                <!---->
                                <span>Post</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/blog/articles" title="Articles" href="/theme/angle/v3.7.5/angular2/blog/articles">
                                <!---->
                                <!---->
                                <span>Articles</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/blog/articleview" title="Article View" href="/theme/angle/v3.7.5/angular2/blog/articleview">
                                <!---->
                                <!---->
                                <span>Article View</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                <li>

                    <!---->
                    <!---->
                    <!---->
                    <!----><a title="Ecommerce">
                        <!---->
                        <!----><em class="icon-basket-loaded"></em>
                        <span>Ecommerce</span>
                    </a>

                    <!----><ul class="nav sidebar-subnav">
                        <li class="sidebar-subnav-header">Ecommerce</li>
                        <!---->
                        <li>

                            <!---->
                            <!----><a route="/ecommerce/orders" title="Orders" href="/theme/angle/v3.7.5/angular2/ecommerce/orders">
                                <!---->
                                <!---->
                                <span>Orders</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/ecommerce/orderview" title="Order View" href="/theme/angle/v3.7.5/angular2/ecommerce/orderview">
                                <!---->
                                <!---->
                                <span>Order View</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/ecommerce/products" title="Products" href="/theme/angle/v3.7.5/angular2/ecommerce/products">
                                <!---->
                                <!---->
                                <span>Products</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/ecommerce/productview" title="Product View" href="/theme/angle/v3.7.5/angular2/ecommerce/productview">
                                <!---->
                                <!---->
                                <span>Product View</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/ecommerce/checkout" title="Checkout" href="/theme/angle/v3.7.5/angular2/ecommerce/checkout">
                                <!---->
                                <!---->
                                <span>Checkout</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>
                <li>

                    <!---->
                    <!---->
                    <!---->
                    <!----><a title="Extras">
                        <!---->
                        <!----><em class="icon-cup"></em>
                        <span>Extras</span>
                    </a>

                    <!----><ul class="nav sidebar-subnav">
                        <li class="sidebar-subnav-header">Extras</li>
                        <!---->
                        <li>

                            <!---->
                            <!----><a route="/extras/contacts" title="Contacts" href="/theme/angle/v3.7.5/angular2/extras/contacts">
                                <!---->
                                <!---->
                                <span>Contacts</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/contactdetails" title="Contact details" href="/theme/angle/v3.7.5/angular2/extras/contactdetails">
                                <!---->
                                <!---->
                                <span>Contact details</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/projects" title="Projects" href="/theme/angle/v3.7.5/angular2/extras/projects">
                                <!---->
                                <!---->
                                <span>Projects</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/projectsdetails" title="Projects details" href="/theme/angle/v3.7.5/angular2/extras/projectsdetails">
                                <!---->
                                <!---->
                                <span>Projects details</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/teamviewer" title="Team Viewer" href="/theme/angle/v3.7.5/angular2/extras/teamviewer">
                                <!---->
                                <!---->
                                <span>Team Viewer</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/socialboard" title="Social Board" href="/theme/angle/v3.7.5/angular2/extras/socialboard">
                                <!---->
                                <!---->
                                <span>Social Board</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/votelinks" title="Vote links" href="/theme/angle/v3.7.5/angular2/extras/votelinks">
                                <!---->
                                <!---->
                                <span>Vote links</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/bugtracker" title="Bug tracker" href="/theme/angle/v3.7.5/angular2/extras/bugtracker">
                                <!---->
                                <!---->
                                <span>Bug tracker</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/faq" title="Faq" href="/theme/angle/v3.7.5/angular2/extras/faq">
                                <!---->
                                <!---->
                                <span>Faq</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/helpcenter" title="Help center" href="/theme/angle/v3.7.5/angular2/extras/helpcenter">
                                <!---->
                                <!---->
                                <span>Help center</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/followers" title="Followers" href="/theme/angle/v3.7.5/angular2/extras/followers">
                                <!---->
                                <!---->
                                <span>Followers</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/settings" title="Settings" href="/theme/angle/v3.7.5/angular2/extras/settings">
                                <!---->
                                <!---->
                                <span>Settings</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/plans" title="Plans" href="/theme/angle/v3.7.5/angular2/extras/plans">
                                <!---->
                                <!---->
                                <span>Plans</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/filemanager" title="File manager" href="/theme/angle/v3.7.5/angular2/extras/filemanager">
                                <!---->
                                <!---->
                                <span>File manager</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/forum" title="Forum" href="/theme/angle/v3.7.5/angular2/extras/forum">
                                <!---->
                                <!---->
                                <span>Forum</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/mailbox" title="Mailbox" href="/theme/angle/v3.7.5/angular2/extras/mailbox">
                                <!---->
                                <!---->
                                <span>Mailbox</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/timeline" title="Timeline" href="/theme/angle/v3.7.5/angular2/extras/timeline">
                                <!---->
                                <!---->
                                <span>Timeline</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/calendar" title="Calendar" href="/theme/angle/v3.7.5/angular2/extras/calendar">
                                <!---->
                                <!---->
                                <span>Calendar</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/invoice" title="Invoice" href="/theme/angle/v3.7.5/angular2/extras/invoice">
                                <!---->
                                <!---->
                                <span>Invoice</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/search" title="Search" href="/theme/angle/v3.7.5/angular2/extras/search">
                                <!---->
                                <!---->
                                <span>Search</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/todolist" title="Todo list" href="/theme/angle/v3.7.5/angular2/extras/todolist">
                                <!---->
                                <!---->
                                <span>Todo list</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/profile" title="Profile" href="/theme/angle/v3.7.5/angular2/extras/profile">
                                <!---->
                                <!---->
                                <span>Profile</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>

                            <!---->
                            <!----><a route="/extras/codeeditor" title="Code editor" href="/theme/angle/v3.7.5/angular2/extras/codeeditor">
                                <!---->
                                <!---->
                                <span>Code editor</span>
                            </a>

                            <!---->
                            <!---->
                        </li>
                        <li>
                        </li>
                    </ul>
                </li>

            </ul>


        </nav>
    </div>

