﻿@*<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">My Apps</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Application Name</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let trigger of triggers">
                            <td><input type="checkbox" id="" /></td>
                            <td></td>
                            <td><a>Triggers</a></td>
                            <td><a>Actions</a></td>
                            <td><a>Edit</a></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <button class="btn btn-primary" type="button">New App</button>
                <button class="btn btn-default" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>*@